:root{
    --color1:#EBB211;
    --color2:#04D5FA;
    --color3:rgb(206, 206, 206);
    --color4:#CE1465;
    --color5:#009eb9;

}
    /* COMMON */
    a{
        text-decoration: none;
        color: black;
    }

/* TAPBAR */
.topbar{
    display: flex;
    justify-content: space-between;
    background-color: var(--color1);
    padding: 1rem;
}

.topbar ul{
    display: flex;
    list-style-type: none;
    gap: 2rem;
    margin: 0;
    padding: 0;
}
.topbar i{
    color: var(--color5);
    
}
.topbar .contact-info i{
    padding-right: 0.5rem;
}
.topbar .social-links i{
    font-size: 1.5rem;
}

/* NAVBAR */

.navbar .nav-item a{
    border-radius: 25px;
    font-size: 1.3rem;
    
}
.navbar .nav-item a:hover{
    
    background-color: var(--color1);
    color: var(--color5);
}

/* CAROUSEL */
.carousel-caption{
    position: absolute;
    top: 50%;
    left: 8rem;
    right: auto;
    text-align:left ;
    transform: translateY(-25%);
}
.carousel-caption h5{
    font-size: 2.5rem;
}

/* WHY-US */

.why-us{
    position: relative;
    top: -100px;
    z-index: 2;
    text-align: center;
    
}

.why-us i{
    font-size: 3rem;
    color: var(--color4);
}
.why-us div[class^="col"]:first-child .card{
    background-color: var(--color1);
}

/* VIEWS */
.views {
    text-align: center;
  }
.views i{
    font-size: 3rem;
    color: var(--color2);
   
}
.views h{
    font-size: 5rem;
    color: var(--color1);
}

/* GALLERY */
.gallery img{
    transition: transform 0.6s;/* resimleri yaklastirirken ki sure */
}
.gallery img:hover{
    transform:scale(1.1);
}

.gallery div[class^="col"]{
    overflow: hidden;/* resimlerin yakinlasirken tasmasini onler */
}

/* APPOINTMENT FORM */
.appointment-form {
    background-color: var(--color3);
    padding: 3rem;
  }
  .appointment-form h3 {
    text-align: center;
    margin-bottom: 2rem;
  }
  /* footer */
  footer {
    background-color: var(--color1);
    padding: 3rem;
  }
  footer ul {
    list-style: none;
  }
  footer i,
  footer h3 {
    color: var(--color4);
  }
  footer div[class^="col"]:nth-child(2) {
    display: flex;
    justify-content: center;
  }
  footer a:hover {
    color: var(--color4);
  }